<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Agent Info</title>
</head>
<body>
    <h1 style="font-size: 50px; text-align: center; background-color: rgba(252, 208, 118, 0.995); color: rgb(83, 83, 240)">Ejercicio User Agent</h1>
    <h3>¿Qué dispositivo estás usando? ¿Es táctil o no?</h3>
    {% load user_agents %}

    {% if request|is_mobile %}
        <p>Estás entrando desde un móvil</p>
    {% endif %}

    {% if request|is_tablet %}
        <p>Estás entrando desde una tablet</p>
    {% endif %}

    {% if request|is_pc %}
        <p>Estás entrando desde un ordenador</p>
        {% if is_touch_capable %}
            <p>Es táctil</p>
        {% else %}
            <p>No es táctil</p>
        {% endif %}
    {% endif %}
    
    {% if request|is_bot %}
        <p>Es un bot</p>
{% endif %}

</body>
</html>
