<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>ÍNDICE DEL BUSCAMINAS</title>    
    <meta charset="UTF-8">   
       
</head>  
<body>
    <div style="margin: 20px;">  
        <h1 style="font-size: 50px; text-align: center; background-color: rgba(212, 99, 229, 0.995); color: rgb(5, 253, 241);">ÍNDICE</h1>  
        <li><a href="{% url 'info' %}" style="font-size: 25px;">  Crear Archivo de User-Agent </a></li>
        </br>
        <li><a href="{% url 'visitar' %}" style="font-size: 25px;">  ¿Quién está viendo la página? </a></li>
    </div>
</body>  
</html>


