<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Agent Info</title>
</head>
<body>
    <h1 style="font-size: 50px; text-align: center; background-color: rgba(252, 208, 118, 0.995); color: rgb(83, 83, 240)">Ejercicio User Agent</h1>
    <h3>¿Qué dispositivo estás usando? ¿Es táctil o no?</h3>
    <p>Dispositivo utilizado: {{ device_type}}</p>
    <p>¿Es táctil?: {{is_touch_device}}</p>
    <p>IP del cliente: {{ ip_cliente }}</p>
    <p>Hostname del cliente: {{ hostname }}</p>

</body>
</html>